job_queue: $JOB_QUEUE
global_timeout: 3600
output_timeout: 1800
provision_data:
  distro: $DISTRO

test_data:
  test_cmds: |
    #!/bin/bash

    set -xeuo pipefail

    # This is used, along with DEVICE_IP, by all scriptlets to access the device
    export DEVICE_USER="ubuntu"

    # retrieve the tools installer
    curl -Ls -o install_tools.sh https://raw.githubusercontent.com/canonical/hwcert-jenkins-tools/main/install_tools.sh

    # install the scriptlets and other tools on the agent and the device, as necessary
    export TOOLS_PATH=tools
    source install_tools.sh $TOOLS_PATH

    # ensure device is available before continuing
    wait-for-ssh --allow-degraded

    # Wait for snapd to become available
    _run_retry "timeout 5 sudo snap wait system seed.loaded"
    wait-for-snap-changes

    # allow content on kernel snaps
    _run sudo snap refresh snapd --channel=latest/beta --no-wait
    wait-for-snap-changes

    # get device nodes on module load
    _run sudo snap refresh core24 --no-wait
    wait-for-snap-changes

    # refresh to the new kernel
    _run sudo snap refresh pc-kernel --channel 24/candidate --no-wait
    # Add some extra time to ensure that machine has rebooted after updating the kernel
    sleep 30
    wait-for-snap-changes

    # Pre-test diagnostics I
    _run snap list
    _run snap components
    _run sudo snap changes
    _run sudo snap connections --all

    # install the module component
    _run sudo snap components pc-kernel
    _run sudo snap set pc-kernel nvidia-stream=580-erd
    wait-for-snap-changes

    # until kernel-module-load is autoconnected
    _run_retry sudo modprobe nvidia_drm modeset=1
    _run_retry sudo modprobe nvidia_uvm
    _run ls /dev/nvidia*

    # install mesa snap
    _run_retry sudo snap install mesa-2404 --channel latest/candidate --no-wait
    wait-for-snap-changes

    # check for auto connection of kernel-gpu-2404 content interface being populated
    _run find /snap/mesa-2404/current/ -print
    _run find /var/snap/pc-kernel/common/kernel-gpu-2404/ -print

    # LXD working
    _run_retry sudo snap install lxd --channel=$SNAP_CHANNEL --no-wait --cohort=+
    wait-for-snap-changes

    # Pre-test diagnostics II
    _run snap list
    _run snap components
    _run sudo snap changes
    _run sudo snap connections --all

    _run sudo lxd init --auto
    _run sudo usermod -aG lxd ubuntu

    _run "lxc init ubuntu:noble c1 </dev/null"
    _run lxc config device add c1 gpu0 gpu gputype=physical id=nvidia.com/gpu=0

    _run lxc start c1

    # print out all mounts we have so we can compare it later if anything goes wrong
    _run lxc exec c1 -- cat /proc/self/mountinfo

    # check that nvidia-smi works
    _run lxc exec c1 -- nvidia-smi

    # check presence of a few different files to catch regressions
    _run lxc exec c1 -- cat /proc/self/mountinfo | grep "nvidia_icd.json"
    _run lxc exec c1 -- cat /proc/self/mountinfo | grep "10_nvidia_wayland.json"
    _run lxc exec c1 -- cat /proc/self/mountinfo | grep "libcuda.so"
