name: Linux Mint

on:
  schedule:
    - cron: '30 5 * * 1-5'  # Build amd64
  workflow_dispatch:
    inputs:

jobs:
  mint:
    if: github.event_name != 'schedule' || github.repository == 'canonical/lxd-ci'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        release:
          - virginia  # EOL: 2027-04-30
          - zena      # EOL: 2029-04-30
        variant:
          - default
          - cloud
        architecture:
          - amd64
    env:
      type: "container"
      distro: "${{ github.job }}"
      target: "${HOME}/build"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup environment
        uses: ./.github/actions/image-setup

      - name: Build image
        run: |
          TIMEOUT=3600
          YAML="images/${{ env.distro }}.yaml"
          ARCH="${{ matrix.architecture }}"
          TYPE="${{ env.type }}"
          RELEASE="${{ matrix.release}}"

          SUITE="jammy"
          if [ "${RELEASE}" = "una" ]; then
              SUITE=focal
          fi

          ./bin/build-distro "${YAML}" "${ARCH}" "${TYPE}" "${TIMEOUT}" "${{ env.target }}" \
              -o image.architecture="${ARCH}" \
              -o image.release=${{ matrix.release }} \
              -o image.variant=${{ matrix.variant }} \
              -o source.suite="${SUITE}"

      - name: Print build artifacts
        run: ls -lah "${{ env.target }}"

      - name: Test container image
        uses: ./.github/actions/image-test
        # avoid runaway test burning 6 hours of CI
        timeout-minutes: 20
        if: contains(env.type, 'container')
        with:
          type: container
          target: ${{ env.target }}
          distro: ${{ env.distro }}
          release: ${{ matrix.release }}
          variant: ${{ matrix.variant }}

      - name: Test VM image
        uses: ./.github/actions/image-test
        # avoid runaway test burning 6 hours of CI
        timeout-minutes: 40
        if: contains(env.type, 'vm')
        with:
          type: vm
          target: ${{ env.target }}
          distro: ${{ env.distro }}
          release: ${{ matrix.release }}
          variant: ${{ matrix.variant }}

      - name: Upload image
        uses: ./.github/actions/image-upload
        if: github.repository == 'canonical/lxd-ci'
        with:
          target: ${{ env.target }}
          image_dir: "${{ env.distro }}/${{ matrix.release }}/${{ matrix.architecture }}/${{ matrix.variant }}"
          ssh_private_key: "${{ secrets.LXD_INFRA_IMAGES_KEY }}"
