name: Linux Mint

on:
  schedule:
    - cron: '0 0 * * 1-5'  # Build amd64 (Daily on Mon-Fri at 00:00 UTC).
  workflow_dispatch:
    inputs:
      publish:
        type: boolean
        default: false
        description: Publish built image

jobs:
  mint:
    if: github.event_name != 'schedule' || github.repository == 'canonical/lxd-ci'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        release:
          - virginia  # EOL: April 2027
          - xia       # EOL: April 2029
        variant:
          - default
          - cloud
        architecture:
          - amd64
    env:
      type: "container"
      distro: "${{ github.job }}"
      target: "${HOME}/build"

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup environment
        uses: ./.github/actions/image-setup

      - name: Build image
        run: |
          TIMEOUT=3600
          YAML="images/${{ env.distro }}.yaml"
          ARCH="${{ matrix.architecture }}"
          TYPE="${{ env.type }}"
          RELEASE="${{ matrix.release}}"

          SUITE="jammy"
          if [ "${RELEASE}" = "una" ]; then
              SUITE=focal
          fi

          ./bin/build-distro "${YAML}" "${ARCH}" "${TYPE}" "${TIMEOUT}" "${{ env.target }}" \
              -o image.architecture="${ARCH}" \
              -o image.release=${{ matrix.release }} \
              -o image.variant=${{ matrix.variant }} \
              -o source.suite="${SUITE}"

      - name: Print build artifacts
        run: ls -lah "${{ env.target }}"

      - name: Test container image
        uses: ./.github/actions/image-test
        if: contains(env.type, 'container')
        with:
          type: container
          target: ${{ env.target }}
          distro: ${{ env.distro }}
          release: ${{ matrix.release }}
          variant: ${{ matrix.variant }}

      - name: Test VM image
        uses: ./.github/actions/image-test
        if: contains(env.type, 'vm')
        with:
          type: vm
          target: ${{ env.target }}
          distro: ${{ env.distro }}
          release: ${{ matrix.release }}
          variant: ${{ matrix.variant }}

      - name: Upload image
        uses: ./.github/actions/image-upload
        if: github.event_name == 'schedule' || inputs.publish == true
        with:
          target: ${{ env.target }}
          image_dir: "${{ env.distro }}/${{ matrix.release }}/${{ matrix.architecture }}/${{ matrix.variant }}"
          ssh_private_key: "${{ secrets.LXD_INFRA_IMAGES_KEY }}"
