name: Ubuntu

on:
  schedule:
    - cron: '45 8 * * 1-5'  # Build amd64

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}-${{ inputs.ubuntu-releases }}-${{ inputs.snap-track }}
  # XXX: scheduled runs should not cancel manually triggered ones
  cancel-in-progress: ${{ !contains(github.event_name, 'schedule')}}

jobs:
  ubuntu:
    if: github.event_name != 'schedule' || github.repository == 'canonical/lxd-ci'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        release:
          - jammy  # EOL: 2027-04
          - noble  # EOL: 2029-04
          - questing # EOL: 2026-07
        variant:
          - desktop
        architecture:
          - amd64

    env:
      type: "container"
      distro: "${{ github.job }}"
      target: "${HOME}/build"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup environment
        uses: ./.github/actions/image-setup

      - name: Determine image types
        run: |
          ARCH="${{ matrix.architecture }}"
          if [ "${ARCH}" = "amd64" ]; then
              echo "type=container,vm" >> $GITHUB_ENV
          fi

          if [ "${{ matrix.variant }}" = "desktop" ]; then
              echo "type=vm" >> $GITHUB_ENV
          fi

      - name: Build image
        run: |
          TIMEOUT=3600
          YAML="images/${{ env.distro }}.yaml"
          ARCH="${{ matrix.architecture }}"
          TYPE="${{ env.type }}"

          ARCHIVE="http://archive.ubuntu.com/ubuntu"

          # For LTS releases, try to use the Azure mirror (closer, faster and more reliable)
          if [ "${{ matrix.release }}" = "noble" ] || [ "${{ matrix.release }}" = "jammy" ]; then
            if [ -f /etc/apt/apt-mirrors.txt ]; then
                cat /etc/apt/apt-mirrors.txt
                ARCHIVE="$(awk '$2=="priority:1" && $1 ~ /^https?:\/\// {print $1}' /etc/apt/apt-mirrors.txt)"
            fi
          fi

          if [ "${ARCH}" != "amd64" ] && [ "${ARCH}" != "i386" ]; then
              ARCHIVE="http://ports.ubuntu.com/ubuntu-ports"
          fi

          ./bin/build-distro "${YAML}" "${ARCH}" "${TYPE}" "${TIMEOUT}" "${{ env.target }}" \
              -o image.architecture=${{ matrix.architecture }} \
              -o image.release=${{ matrix.release }} \
              -o image.variant=${{ matrix.variant }} \
              -o source.url="${ARCHIVE}"

      - name: Print build artifacts
        run: ls -lah "${{ env.target }}"

      - name: Test container image
        uses: ./.github/actions/image-test
        # avoid runaway test burning 6 hours of CI
        timeout-minutes: 20
        if: contains(env.type, 'container')
        with:
          type: container
          target: ${{ env.target }}
          distro: ${{ env.distro }}
          release: ${{ matrix.release }}
          variant: ${{ matrix.variant }}

      - name: Test VM image
        uses: ./.github/actions/image-test
        # avoid runaway test burning 6 hours of CI
        timeout-minutes: 40
        if: contains(env.type, 'vm')
        with:
          type: vm
          target: ${{ env.target }}
          distro: ${{ env.distro }}
          release: ${{ matrix.release }}
          variant: ${{ matrix.variant }}

      - name: Upload image
        uses: ./.github/actions/image-upload
        if: github.repository == 'canonical/lxd-ci'
        with:
          target: ${{ env.target }}
          image_dir: "${{ env.distro }}/${{ matrix.release }}/${{ matrix.architecture }}/${{ matrix.variant }}"
          ssh_private_key: "${{ secrets.LXD_INFRA_IMAGES_KEY }}"
